/* Updated styles.css for horizontal layout */

/* Global styles */
body {
  margin: 0;
  padding: 0;
  background-color: #2c1338; /* Dark purple background */
    height: 100vh;
    justify-content: center;
    display: flex;
  flex-direction: column;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.clock-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

/* Time unit container */
.time-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Clock styles */
.clock {
  font-size: 180px;
  font-family: "Madimi One", sans-serif;
  width: 200px;
  color: #fff; /* White color for clock text */
  margin: 0 30px -30px 12px;
  

}
.clock-colon {
  font-size: 150px;
  color: #fff; /* White color for clock text */
  margin-top: -15px;
}

/* Label styles */
.label {
  color: #fff;
  font-size: 24px;
  margin-left: 90px; /* Add spacing between clock and label */
}

/* Controls styles */
.controls {
  display: flex;
  justify-content: center;
  margin-top: 40px; /* Add some spacing between clock and controls */
}

button {
  font-size: 24px;
  padding: 0 20px;
  margin: 0 10px;
  background-color: #564260; /* Purple background for buttons */
  color: #fff; /* White color for button text */
  border: none;
  border-radius: 50px;
  cursor: pointer;
  width: 275px;
  height: 65px;
}

button:hover {
  background-color: #724799; /* Darker shade of purple on hover */
}

.stopwatch{
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

footer {
  background-color: #2c1338;
  color:#efD6fc;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2c1338; /* Dark purple background */
  font-family: "Madimi One", sans-serif;
}
.clock-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
  .clock {
    font-size: 40px;
    font-family: "Madimi One", sans-serif;
    width: 25px;
    color: #fff; /* White color for clock text */
    margin: 0 20px -30px 0px;
  }
  .time-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
}


  .clock-colon {
      font-size: 30px;
      color: #fff; /* White color for clock text */
       margin-top: -30px;
  }

  .label {
      color: #fff;
      font-size: 10px;
      margin-top: 40px; /* Add spacing between clock and label */
      margin-left: 0px;
  }
  .stopwatch{
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

  button {
    font-size: 16px;
    padding: 10px 15px;
    width: 150px;
  }

  footer{
    margin-right: 15px;
    margin-bottom: 8px;
  }
}